In [50]:
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import pandas as pd

from sklearn.preprocessing import StandardScaler

# load the dataset
df = pd.read_csv("test.csv")

# check the first few rows
df.head()

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,0,19556,Female,Loyal Customer,52,Business travel,Eco,160,5,4,...,5,5,5,5,2,5,5,50,44.0,satisfied
1,1,90035,Female,Loyal Customer,36,Business travel,Business,2863,1,1,...,4,4,4,4,3,4,5,0,0.0,satisfied
2,2,12360,Male,disloyal Customer,20,Business travel,Eco,192,2,0,...,2,4,1,3,2,2,2,0,0.0,neutral or dissatisfied
3,3,77959,Male,Loyal Customer,44,Business travel,Business,3377,0,0,...,1,1,1,1,3,1,4,0,6.0,satisfied
4,4,36875,Female,Loyal Customer,49,Business travel,Eco,1182,2,3,...,2,2,2,2,4,2,4,0,20.0,satisfied

In [51]:
print("Missing values:\n", df.isnull().sum())
print("\nNumber of duplicate rows:", df.duplicated().sum())
df = df.drop_duplicates()

Missing values:
 Unnamed: 0                            0
id                                    0
Gender                                0
Customer Type                         0
Age                                   0
Type of Travel                        0
Class                                 0
Flight Distance                       0
Inflight wifi service                 0
Departure/Arrival time convenient     0
Ease of Online booking                0
Gate location                         0
Food and drink                        0
Online boarding                       0
Seat comfort                          0
Inflight entertainment                0
On-board service                      0
Leg room service                      0
Baggage handling                      0
Checkin service                       0
Inflight service                      0
Cleanliness                           0
Departure Delay in Minutes            0
Arrival Delay in Minutes             83
satisfaction                          0
dtype: int64

Number of duplicate rows: 0

In [52]:
print(df.columns.tolist())

df = df.drop(columns=['Unnamed: 0', 'id'])

print(df.columns.tolist())

df_new = df.copy()

['Unnamed: 0', 'id', 'Gender', 'Customer Type', 'Age', 'Type of Travel', 'Class', 'Flight Distance', 'Inflight wifi service', 'Departure/Arrival time convenient', 'Ease of Online booking', 'Gate location', 'Food and drink', 'Online boarding', 'Seat comfort', 'Inflight entertainment', 'On-board service', 'Leg room service', 'Baggage handling', 'Checkin service', 'Inflight service', 'Cleanliness', 'Departure Delay in Minutes', 'Arrival Delay in Minutes', 'satisfaction']
['Gender', 'Customer Type', 'Age', 'Type of Travel', 'Class', 'Flight Distance', 'Inflight wifi service', 'Departure/Arrival time convenient', 'Ease of Online booking', 'Gate location', 'Food and drink', 'Online boarding', 'Seat comfort', 'Inflight entertainment', 'On-board service', 'Leg room service', 'Baggage handling', 'Checkin service', 'Inflight service', 'Cleanliness', 'Departure Delay in Minutes', 'Arrival Delay in Minutes', 'satisfaction']

In [53]:
# fill missing 'Arrival Delay in Minutes' column values with the mean value 
df_new['Arrival Delay in Minutes'] = df_new['Arrival Delay in Minutes'].fillna(df_new['Arrival Delay in Minutes'].mean()) 

# Gender: Female = 1, Male = 0
df_new['Gender'] = df_new['Gender'].replace({'Female': 1, 'Male': 0}).astype(int)
# print(df_new['Gender'].head(10).to_list())

# Customer Type: Loyal Customer = 1, disoyal Customer = 0
df_new['Customer Type'] = df_new['Customer Type'].replace({'Loyal Customer': 1, 'disloyal Customer': 0}).astype(int)
# print(df_new['Customer Type'].head(10).to_list())

# Type of Travel: Business travel = 1, Personal Travel = 0
df_new['Type of Travel'] = df_new['Type of Travel'].replace({'Business travel': 1, 'Personal Travel': 0}).astype(int)
# print(df_new['Type of Travel'].head(30).to_list())

# satisfaction: satisfied = 1, neutral or dissatisfied = 0
df_new['satisfaction'] = df_new['satisfaction'].replace({'satisfied': 1, 'neutral or dissatisfied': 0}).astype(int)
# print(df_new['satisfaction'].head(30).to_list())

# Class: Business = (1, 0), Eco = (0, 1), Other = (0, 0)
df_new['Class Business'] = (df_new['Class'] == 'Business').astype(int)
df_new['Class Eco'] = (df_new['Class'] == 'Eco').astype(int)
df_new = df_new.drop(columns=['Class'])
# print(df_new.columns.tolist())

/var/folders/tm/rnl8gc8x2y76s1t75s3d6mrm0000gn/T/ipykernel_1831/1467562738.py:5: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_new['Gender'] = df_new['Gender'].replace({'Female': 1, 'Male': 0}).astype(int)
/var/folders/tm/rnl8gc8x2y76s1t75s3d6mrm0000gn/T/ipykernel_1831/1467562738.py:9: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_new['Customer Type'] = df_new['Customer Type'].replace({'Loyal Customer': 1, 'disloyal Customer': 0}).astype(int)
/var/folders/tm/rnl8gc8x2y76s1t75s3d6mrm0000gn/T/ipykernel_1831/1467562738.py:13: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_new['Type of Travel'] = df_new['Type of Travel'].replace({'Business travel': 1, 'Personal Travel': 0}).astype(int)
/var/folders/tm/rnl8gc8x2y76s1t75s3d6mrm0000gn/T/ipykernel_1831/1467562738.py:17: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_new['satisfaction'] = df_new['satisfaction'].replace({'satisfied': 1, 'neutral or dissatisfied': 0}).astype(int)

In [55]:
# scale numeric features 
scaler = StandardScaler()
y = df_new['satisfaction']
X = df_new.drop(columns=['satisfaction'])
X_scaled = scaler.fit_transform(X)

In [56]:
# split into training, validation, and test sets 
from sklearn.model_selection import train_test_split
# training data 80%, testing data 20%
X_train, X_testing, y_train, y_testing = train_test_split(X_scaled, y, train_size=0.8, random_state=42, shuffle=True)
# validation and test data is 10% each
X_val, X_test, y_val, y_test = train_test_split(X_testing, y_testing, train_size=0.5, random_state=42, shuffle=True)